* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: rgb(247, 248, 250);
  }

  h2 {
    font-size: 1.5em;
    border-bottom: 0.5px solid #434E5E;
    padding-bottom: 5px;
    margin-bottom: 10px;

  }

  article {
    width: 595px;
    min-height: 842px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    box-shadow: 7px 7px 5px #eee, -7px -7px 5px #eee;
  }

  @media (max-width:595px) {
    article {
      width: 95%;
    }
  }

  #myHeader {
    width: 100%;
    height: 140px;
    background-color:#434E5E ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.profil {
  margin: 0px;
  -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
}

.container {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
}

section {
  padding: 10px;
  width: 60%;  
}

aside {
  width: 40%;
  min-height:100%;
  background-color: #212529;
}
